[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/surrond"]
	path = vim/bundle/surrond
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = http://github.com/cakebaker/scss-syntax.vim.git
